Python has a well developed library LASIO for reading the well log .las files

In [1]:
import lasio as la
import pandas as pd

In [2]:
las = la.read(r'4200341370.las')

View the log description

In [3]:
print(las.curves)

Mnemonic  Unit  Value           Description
--------  ----  -----           -----------
DEPT      F     00 000 000 000  Depth
GRTO      api   00 000 000 000  GammaTotal
GRKT      api   00 000 000 000  GammaKT
GRTH      api   00 000 000 000  GammaTh
GKUT      api   00 000 000 000  GammaKUT
POTA      %     00 000 000 000  Potassium
URAN      ppm   00 000 000 000  Uranium
THOR      ppm   00 000 000 000  Thorium
MSFL      ohmm  00 000 000 000  MSFL
LLS       ohmm  00 000 000 000  LLS
LLD       ohmm  00 000 000 000  LLD
GR        api   00 000 000 000  Gamma API
CALI      in    00 000 000 000  Caliper
BHVT      ft3   00 000 000 000  Borehole Volume
AHVT      ft3   00 000 000 000  Annular Volume
RHOB      g/cc  00 000 000 000  Density
DRHO      g/cc  00 000 000 000  DensityCorr
PE        b/e   00 000 000 000  Pe
DPHI      decp  00 000 000 000  DensityPorosity
XPHI      decp  00 000 000 000  CrossplotPhi
NPHI      decp  00 000 000 000  Neutron Porosity
NDSN      cps   00 000 000 000  DSN Near Counts
FDSN      cps   00 000 000 000  DSN Far Counts
TENS      lbs   00 000 000 000  Tension
MDT       uspf  00 000 000 000  MonoDeltaT
SPHI      decp  00 000 000 000  Acou Porosity
ITTT      us    00 000 000 000  ITTTotal
DXDT      uspf  00 000 000 000  DipXDeltaT
DYDT      uspf  00 000 000 000  DipYDeltaT

Import the data frame

In [4]:
las_df = pd.DataFrame(las.data, columns=list(las.curvesdict.keys()))

In [5]:
las_df.head()

,DEPT,GRTO,GRKT,GRTH,GKUT,POTA,URAN,THOR,MSFL,LLS,...,XPHI,NPHI,NDSN,FDSN,TENS,MDT,SPHI,ITTT,DXDT,DYDT
0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.9317,9810.0,460.0,2976.2651,NaN,NaN,NaN,NaN,NaN
1,200.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.8425,10300.0,550.0,2959.5215,NaN,NaN,NaN,NaN,NaN
2,201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.7867,9300.0,280.0,2947.6536,NaN,NaN,NaN,NaN,NaN
3,201.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.1924,10100.0,570.0,2976.7249,NaN,NaN,NaN,NaN,NaN
4,202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.8145,9810.0,260.0,2977.5205,NaN,NaN,NaN,NaN,NaN

In [13]:
print(las_df.info())
print(las_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22021 entries, 0 to 22020
Data columns (total 29 columns):
DEPT    22021 non-null float64
GRTO    13262 non-null float64
GRKT    13262 non-null float64
GRTH    13262 non-null float64
GKUT    13262 non-null float64
POTA    13262 non-null float64
URAN    13262 non-null float64
THOR    13262 non-null float64
MSFL    15513 non-null float64
LLS     13483 non-null float64
LLD     13483 non-null float64
GR      21780 non-null float64
CALI    13352 non-null float64
BHVT    13352 non-null float64
AHVT    13352 non-null float64
RHOB    13337 non-null float64
DRHO    13337 non-null float64
PE      13337 non-null float64
DPHI    13337 non-null float64
XPHI    13315 non-null float64
NPHI    21831 non-null float64
NDSN    21831 non-null float64
FDSN    21831 non-null float64
TENS    22021 non-null float64
MDT     13350 non-null float64
SPHI    13350 non-null float64
ITTT    13252 non-null float64
DXDT    13210 non-null float64
DYDT    13208 non-null float64
dtypes: float64(29)
memory usage: 4.9 MB
None
(22021, 29)

In [17]:
las_df.describe()

,DEPT,GRTO,GRKT,GRTH,GKUT,POTA,URAN,THOR,MSFL,LLS,...,XPHI,NPHI,NDSN,FDSN,TENS,MDT,SPHI,ITTT,DXDT,DYDT
count,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,...,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000,13020.000000
mean,7821.117281,62.708449,35.698696,16.329484,66.122702,1.406437,3.387219,4.632478,201.567674,986.859322,...,0.126391,0.144308,17548.778367,2845.840554,5437.659112,67.293916,0.143333,230628.705875,116.245699,116.026933
std,1884.012138,32.189449,19.729857,10.051030,33.626422,0.765648,2.087910,2.851356,1165.393445,4968.612312,...,0.068809,0.072319,2754.656622,1677.530252,742.646966,10.904100,0.079361,128841.969216,16.557924,16.456457
min,4475.000000,2.346400,1.027900,0.398400,2.306100,0.040500,0.129900,0.113000,0.100000,1.010100,...,0.000000,-0.012600,7880.000000,350.000000,3981.994600,41.114400,-0.047200,3320.939700,59.603300,60.465300
25%,6191.375000,35.957650,16.514050,7.058475,38.429125,0.672200,1.758550,2.002425,9.435200,13.142925,...,0.072200,0.083300,15513.333000,1693.333400,4776.832975,58.393925,0.078575,119296.173800,102.627725,102.730725
50%,7818.750000,60.517050,38.656700,16.001000,63.419200,1.571650,2.921950,4.539300,35.099900,47.742500,...,0.135900,0.154800,16835.000000,2146.666700,5340.993650,69.568250,0.159900,233455.523450,117.397700,116.654050
75%,9449.125000,87.266475,50.580125,24.289750,92.364900,1.983675,4.789150,6.890750,117.602275,160.988150,...,0.172800,0.192100,19550.000000,3620.000000,6081.321650,74.593125,0.196500,344939.515675,127.266825,127.209900
max,11089.500000,260.069100,105.641400,50.835300,271.966800,4.021900,22.411600,14.421400,20000.000000,40000.000000,...,1.000000,0.856700,26220.000000,11193.333000,7643.781300,181.575800,0.975100,451731.468800,263.795900,260.579300

In [7]:
any(las_df.isna())

True

In [15]:
#Drop missing values - sometimes the calibration tools malfunction and do not read the values
las_df.dropna(axis=0,how='any',inplace=True)
las_df.shape

(13020, 29)

In [16]:
las_df.head()

,DEPT,GRTO,GRKT,GRTH,GKUT,POTA,URAN,THOR,MSFL,LLS,...,XPHI,NPHI,NDSN,FDSN,TENS,MDT,SPHI,ITTT,DXDT,DYDT
8550,4475.0,6.6638,4.9079,2.3704,6.9524,0.1861,0.2276,0.6725,0.1,13.1152,...,1.0,0.8114,8445.000,420.0000,4369.2720,57.2701,0.0704,451731.4688,262.7864,256.9453
8551,4475.5,6.7792,4.8374,2.4286,7.1524,0.1781,0.2577,0.6890,0.1,13.9107,...,1.0,0.7905,9260.000,453.3333,4373.6978,57.5069,0.0721,451702.8438,263.7959,254.6567
8552,4476.0,7.7791,5.7789,3.1279,8.4166,0.1995,0.2937,0.8874,0.1,14.4024,...,1.0,0.8310,8880.000,460.0000,4311.8691,57.3351,0.0709,451674.0938,261.6900,253.7391
8553,4476.5,8.2541,6.3943,3.7199,9.1003,0.2056,0.3013,1.0553,0.1,14.4233,...,1.0,0.8101,8546.667,453.3333,4233.1191,57.0872,0.0690,451645.4375,259.2041,254.3226
8554,4477.0,8.3169,7.2053,4.7461,9.6956,0.1992,0.2773,1.3464,0.1,13.2101,...,1.0,0.7941,8906.667,420.0000,4244.5610,161.1858,0.8267,451602.6250,257.4439,254.8047
8555,4477.5,7.5724,7.0175,4.7375,8.9105,0.1873,0.2108,1.3440,0.1,10.9987,...,1.0,0.8296,8793.333,440.0000,4326.4165,161.1858,0.8267,451602.6250,257.4439,254.8047
8556,4478.0,6.5709,6.1335,4.0695,7.6572,0.1678,0.1696,1.1545,0.1,10.1702,...,1.0,0.8567,8973.333,413.3333,4273.7656,162.6851,0.8376,451441.4375,256.4737,254.5986
8557,4478.5,6.1836,5.5700,3.4744,7.1228,0.1654,0.1729,0.9857,0.1,10.6270,...,1.0,0.8394,8993.333,453.3333,4251.2964,164.4418,0.8504,451360.0938,257.1176,255.0182
8558,4479.0,6.2585,5.3106,3.1370,7.1618,0.1679,0.2061,0.8899,0.1,10.6468,...,1.0,0.8357,8873.333,373.3333,4279.7393,164.7605,0.8527,451277.8750,258.6575,256.6332
8559,4479.5,6.8081,5.5560,3.2241,7.7985,0.1791,0.2497,0.9146,0.1,10.4731,...,1.0,0.7804,8760.000,445.0000,4362.6255,163.9046,0.8465,451195.5000,259.5715,258.5174

In [20]:
las_df.to_csv("las_df.csv")

In [1]:
#Extract Second Well Log For Test

In [20]:
las = la.read(r'4200340497.las')

In [21]:
print(las.curves)

Mnemonic  Unit  Value           Description
--------  ----  -----           -----------
DEPT      F     00 000 000 000  Depth
GRUR      api   00 000 000 000  GammaU
GRTH      api   00 000 000 000  GammaTh
GAMMAKT   api   00 000 000 000  GammaKT
POTA      %     00 000 000 000  Potassium
URAN      ppm   00 000 000 000  Uranium
THOR      ppm   00 000 000 000  Thorium
LLS       ohmm  00 000 000 000  LLS
LLD       ohmm  00 000 000 000  LLD
NPHI      decp  00 000 000 000  Neutron Porosity
GR        api   00 000 000 000  Gamma API
MSFL      ohmm  00 000 000 000  MSFL
CALI      in    00 000 000 000  Caliper
BHVT      ft3   00 000 000 000  Borehole Volume
AHVT      ft3   00 000 000 000  Annular Volume
RHOB      g/cc  00 000 000 000  Density
DRHO      g/cc  00 000 000 000  DensityCorr
PE        b/e   00 000 000 000  Pe
DPE       NONE  00 000 000 000  PeCorr
QN        NONE  00 000 000 000  NearQuality
QF        NONE  00 000 000 000  FarQuality
DPHI      decp  00 000 000 000  DensityPorosity
TENS      lbs   00 000 000 000  Tension
MNDT      uspf  00 000 000 000  MonoDeltaT
DXDT      uspf  00 000 000 000  DipXDeltaT
DYDT      uspf  00 000 000 000  DipYDeltaT
SPHI      decp  00 000 000 000  Sonic Porosity
ITTT      us    00 000 000 000  ITTTotal
XPHI      decp  00 000 000 000  CrossplotPhi

Import the data frame

In [22]:
las_df = pd.DataFrame(las.data, columns=list(las.curvesdict.keys()))

In [23]:
las_df.head()

,DEPT,GRUR,GRTH,GAMMAKT,POTA,URAN,THOR,LLS,LLD,NPHI,...,QN,QF,DPHI,TENS,MNDT,DXDT,DYDT,SPHI,ITTT,XPHI
0,189.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4419,...,NaN,NaN,NaN,2524.9390,NaN,NaN,NaN,NaN,NaN,NaN
1,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6003,...,NaN,NaN,NaN,2600.0898,NaN,NaN,NaN,NaN,NaN,NaN
2,190.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5977,...,NaN,NaN,NaN,2573.7068,64.0404,113.802,113.2431,0.1163,413415.125,NaN
3,191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5504,...,NaN,NaN,NaN,2527.6689,64.0404,113.802,113.2431,0.1163,413415.125,NaN
4,191.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4832,...,NaN,NaN,NaN,2525.4387,64.0404,113.802,113.2431,0.1163,413415.125,NaN

In [24]:
print(las_df.info())
print(las_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22617 entries, 0 to 22616
Data columns (total 29 columns):
DEPT       22617 non-null float64
GRUR       13543 non-null float64
GRTH       13543 non-null float64
GAMMAKT    13543 non-null float64
POTA       13543 non-null float64
URAN       13543 non-null float64
THOR       13543 non-null float64
LLS        13719 non-null float64
LLD        13719 non-null float64
NPHI       22422 non-null float64
GR         22385 non-null float64
MSFL       14751 non-null float64
CALI       13589 non-null float64
BHVT       13589 non-null float64
AHVT       13589 non-null float64
RHOB       13576 non-null float64
DRHO       13576 non-null float64
PE         13576 non-null float64
DPE        13576 non-null float64
QN         13576 non-null float64
QF         13576 non-null float64
DPHI       13576 non-null float64
TENS       22617 non-null float64
MNDT       22495 non-null float64
DXDT       22410 non-null float64
DYDT       22415 non-null float64
SPHI       22505 non-null float64
ITTT       22505 non-null float64
XPHI       13554 non-null float64
dtypes: float64(29)
memory usage: 5.0 MB
None
(22617, 29)

In [25]:
las_df.describe()

,DEPT,GRUR,GRTH,GAMMAKT,POTA,URAN,THOR,LLS,LLD,NPHI,...,QN,QF,DPHI,TENS,MNDT,DXDT,DYDT,SPHI,ITTT,XPHI
count,22617.000000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13543.000000,13719.000000,13719.000000,22422.000000,...,13576.000000,13576.000000,13576.000000,22617.000000,22495.000000,22410.000000,22415.000000,22505.000000,22505.000000,13554.000000
mean,5843.500000,29.564429,12.253214,32.163670,1.423090,3.291520,3.477076,599.552596,663.934273,0.163907,...,-0.129900,-0.127412,-0.055607,4153.911673,65.210305,114.239821,114.009894,0.124614,282686.227670,0.105171
std,3264.554928,17.566914,11.534743,22.493899,0.935696,1.955791,3.273196,2903.580368,2952.760793,0.131582,...,9.798299,9.800481,9.794771,1066.296381,9.664959,13.651670,13.882677,0.068669,144028.833923,0.083062
min,189.500000,0.225000,0.120300,0.339800,0.013600,0.025000,0.034100,0.583800,0.338300,-0.015600,...,-936.780500,-936.818800,-936.759500,2489.027100,38.632700,71.189600,69.883400,-0.063400,0.000000,0.000000
25%,3016.500000,17.033350,1.358150,10.835350,0.561650,1.896400,0.385400,17.960850,22.228800,0.064300,...,-0.173600,-0.194800,0.026100,3241.340100,63.165200,109.265400,108.941900,0.110100,155427.171900,0.045200
50%,5843.500000,26.341300,9.663600,31.373400,1.434000,2.932700,2.742200,67.392900,78.327000,0.140300,...,-0.001650,-0.000900,0.071500,4165.330100,64.040400,113.802000,113.243100,0.116300,345505.843800,0.106500
75%,8670.500000,39.190050,20.018100,49.188500,2.156500,4.363200,5.680500,259.926250,305.300600,0.216000,...,0.169700,0.195700,0.115300,4963.925800,70.310900,119.141800,118.661100,0.160700,413415.125000,0.148800
max,11497.500000,257.411200,71.101400,114.531300,5.717600,28.658600,20.176300,40000.000000,40000.000000,1.196700,...,1.133000,2.532400,0.956500,7228.020500,181.305600,337.967900,334.900300,0.945600,413415.125000,0.943300

In [26]:
any(las_df.isna())

True

In [27]:
#Drop missing values - sometimes the calibration tools malfunction and do not read the values
las_df.dropna(axis=0,how='any',inplace=True)
las_df.shape

(13428, 29)

In [29]:
las_df.head()

,DEPT,GRUR,GRTH,GAMMAKT,POTA,URAN,THOR,LLS,LLD,NPHI,...,QN,QF,DPHI,TENS,MNDT,DXDT,DYDT,SPHI,ITTT,XPHI
8868,4623.5,20.4456,1.3336,8.3700,0.5029,2.2763,0.3784,20.9561,865.0317,0.2029,...,-0.3235,-0.8765,0.1987,3855.5386,61.5334,111.1338,105.6905,0.0985,413009.5625,0.2056
8869,4624.0,24.4452,0.2836,8.1056,0.5591,2.7216,0.0805,20.2235,1603.1329,0.2349,...,0.0172,-0.5904,0.2695,3839.0386,63.2044,116.1236,147.4094,0.1104,412963.4063,0.2592
8870,4624.5,22.4876,3.2762,13.4347,0.7261,2.5036,0.9297,18.9022,604.1937,0.3212,...,0.2216,0.3474,0.5083,3849.1646,63.2044,116.1236,147.4094,0.1104,412963.4063,0.4599
8871,4625.0,23.8812,6.9636,16.5985,0.6887,2.6588,1.9761,19.1604,405.3753,0.3661,...,0.0572,1.2791,0.6663,3865.5920,64.9293,120.2273,146.9609,0.1226,412916.0000,0.6116
8872,4625.5,14.8854,13.5108,27.9707,1.0335,1.6572,3.8339,19.7652,350.5297,0.3054,...,-0.1909,1.2110,0.5776,3876.3035,64.9293,120.2273,146.9609,0.1226,412883.5313,0.5159

In [30]:
las_df.to_csv("las_df2.csv")